<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Deepgram Test</title>
    <link
      rel="stylesheet"
      href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <!-- <link rel="stylesheet" href="../static/style.css" /> -->
    <script
      src="https://cdn.socket.io/4.5.3/socket.io.min.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="">
    <h1>{{ message }}</h1>
    <div class="content">
      <button id="startButton" class="start-button">Start</button>
    </div>
    <h1>STT-Final</h1>
    <div class="captions" id="captions" style="font-size: 30px;">
      <span>Click Start and Speak</span>
    </div>
    
    <script src="../static/script2.js"></script>
  </body>
</html>
    
    <script src="../static/script2.js"></script>
  </body>
</html>

